@media (max-width: 1200px) {
  .navbar {
    margin-top: 5px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 40px;
  }

  .navbar-brand {
    margin: 0;
  }

  .nav-logo {
    width: 0px;
    height: 0px;
    display: none;
  }

  .all-chakras {
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }

  .chakra {
    width: 90%;
    height: auto;
    flex-direction: row;
    margin-bottom: 5px;
  }
  .chakra:hover {
    z-index: 10;
  }

  .card {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 0px;
    margin: 0px;
  }

  .card span {
    font-size: 16px;
  }

  .card-ball {
    display: none;
  }

  .card div {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-ball span {
    font-size: 14px;
  }

  .charka-img {
    width: 33%;
    height: 60%;
  }

  .meditation-img {
    width: 60px;
    height: 60px;
    margin: auto;
  }

  .chakra-title {
    width: 33%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*  */
  .muladhara {
    border-radius: 0px 0px 200px 200px;
    background: linear-gradient(-90deg, #eb040c 35%, rgba(250, 0, 10, 0) 100%);
  }

  .svadhistana {
    background: linear-gradient(-90deg, #f57200 35%, rgba(250, 0, 10, 0) 100%);
  }

  .manipura {
    background: linear-gradient(-90deg, #feb302 35%, rgba(250, 0, 10, 0) 100%);
  }

  .anahata {
    background: linear-gradient(-90deg, #02a552 35%, rgba(250, 0, 10, 0) 100%);
  }

  .vishudha {
    background: linear-gradient(-90deg, #00adef 35%, rgba(250, 0, 10, 0) 100%);
  }

  .ajna {
    background: linear-gradient(-90deg, #2e47a4 35%, rgba(250, 0, 10, 0) 100%);
  }

  .sahasrara {
    border-radius: 200px 200px 0px 0px;
    background: linear-gradient(-90deg, #a4108c 35%, rgba(250, 0, 10, 0) 100%);
  }

  /*  */

  .element-link {
    margin: 20px;
  }

  .element-bg {
    opacity: 1;
  }

  .fire {
    filter: hue-rotate(220deg);
    border: 0px solid;
  }

  .earth {
    filter: hue-rotate(320deg);
    border: 0px solid;
  }

  .air {
    filter: hue-rotate(90deg);
    border: 0px solid;
  }

  .water {
    filter: hue-rotate(40deg);
    border: 0px solid;
  }

  .elements {
    margin-bottom: 40px;
  }

  .wish {
    width: 155px;
    margin: 5;
  }

  /*  */

  .zodiac {
    width: 120px;
    height: 120px;
    margin: 15px 10px;
    font-size: 10.5px;
  }

  .zodiac-header-bg {
    opacity: 0.5;
  }

  .planet-header-bg {
    opacity: 0.5;
  }
}

/* WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW */

@media (max-width: 1000px) {
  .planet-img {
    width: 100px;
    height: 100px;
  }
  .planet {
    width: 100px;
    margin: 8px;
  }
  .planet-title {
    font-size: smaller;
  }
  .zodiac {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    font-size: 10.5px;
  }
}
