.intro {
  min-width: 320px;
  max-width: 1300px;
  margin-bottom: 50px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.wishes-left-box {
  max-width: 320px;
  max-height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.wishes-left-box_symbol {
  width: 100%;
  height: 180px;
  background-image: url(../../../img/wishes/heart.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wishes-left-box-video {
  margin-bottom: 40px;
}

.wishes-right-box {
  max-width: 800px;
  min-height: 700px;
}

.wishes-right-box-header {
  color: #8d7a42;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: start;
  width: 100%;
  text-align: center;

}

.main{
  font-size: 50px;
  font-weight: 700;
}

.wishes-right-box-text {
  color: white;
  font-size: 18px;
  text-align: start;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 1000px) {
  .intro {
    flex-direction: column;
  }
  .wishes-left-box {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .wishes-left-box_symbol {
    display: none;
  }
  .wishes-left-box-planet {
    display: none;
  }
  .main{
    font-size: 34px;
  }
}
